
.gradle/*
build/
private/
nbproject/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
/.nb-gradle/

datasets
datasets_WGS84Legacy
datasets_CRS84
datasets_fixed
geosparql_indexes
geosparql_jena_tdb
geosparql_jena_tdb_test
geosparql_jena_tdb CRS84
geosparql_jena_tdb WGS84
geosparql_jena_tdb - NO RDFS
logs
parliament_kb
lgd-jena.ttl
lgd-parliament.ttl
results