<configuration>

    <logger name="support.NetworkUtils" level="ERROR" />
    <logger name="hsqldb.db.HSQLDB4AD417742A.ENGINE" level="ERROR" />
    <logger name="org.apache.jena.riot" level="ERROR" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="LOG_FOLDER" value="./logs" />
    <timestamp key="TIME_STAMP" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FOLDER}/GeoSPARQL_Benchmarking-${TIME_STAMP}.log</file>
        <append>false</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>false</immediateFlush>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
            <!--<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>-->
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>